.allcards {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.modal-container-vanish {
    opacity: 0;
}

.show {
    pointer-events: auto;
    opacity: 1;
}
.modal_main {
    background-color: white;
    width: 80%;
    max-width: 100%;
    padding: 20px 20px 20px 20px;
}
.vanish {
    display: none;
}
td {
    min-width: 50px;
    border: 1px solid black;
    text-align: center;
}
table input {
    width: 50px;
    text-align: center;
}
table {
    max-height: 40%;
}