<div th:fragment="card1">
    <div class="card text-bg-light" style="width: 17rem; height: 35rem;">
        <img th:src="@{/images/Tabulated function with arrays.jpg}" class="card-img-top" alt="Табулированная функция">
        <div class="card-body">
            <h5 class="card-title">Create tabulated function using table</h5>
            <p class="card-text">Define a tabulated function using a table for saving</p>
            <a href="https://www.kinopoisk.ru/film/61439/" class="btn btn-primary">Create</a>
        </div>
    </div>
</div>
<div th:fragment="card2">
    <div class="card text-bg-light" style="width: 17rem; height: 35rem;">
        <img th:src="@{/images/Tabulated function with function.jpg}" class="card-img-top" alt="Табулированная функция">
        <div class="card-body">
            <h5 class="card-title">Create tabulated function using function</h5>
            <p class="card-text">Define a tabulated function using function and interval for saving</p>
            <a href="https://www.kinopoisk.ru/film/61439/" class="btn btn-primary">Create</a>
        </div>
    </div>
</div>
<div th:fragment="card3">
    <div class="card text-bg-light" style="width: 17rem; height: 35rem;">
        <img th:src="@{/images/Operations with tabulated functions.jpg}" class="card-img-top" alt="Табулированная функция">
        <div class="card-body">
            <h5 class="card-title">Element-wise operations</h5>
            <p class="card-text">Perform element-wise operations on tabulated functions with upload and save</p>
            <a href="https://www.kinopoisk.ru/film/61439/" class="btn btn-primary">Compute</a>
        </div>
    </div>
</div>
<div th:fragment="card4">
    <div class="card text-bg-light" style="width: 17rem; height: 35rem;">
        <img th:src="@{/images/Differential Operator.jpg}" class="card-img-top" alt="Табулированная функция">
        <div class="card-body">
            <h5 class="card-title">Differentiation of a tabulated function</h5>
            <p class="card-text">Differentiate a tabulated function using step or points</p>
            <a href="https://www.kinopoisk.ru/film/61439/" class="btn btn-primary">Differentiate</a>
        </div>
    </div>
</div>