<div th:fragment="create_using_table">
    <div class="modal-container modal-container-create-using-table" id="modal_container_create_using_table">
        <div class="modal_main">
            <h1>Modals are cool</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, eveniet culpa quaerat atque veniam
                est assumenda perferendis neque commodi! Quasi similique animi delectus veniam sequi soluta ab esse,
                provident id.
            </p>
            <button class="btn btn-primary" id="create_using_table_close">Close</button>
        </div>
    </div>
</div>

<div th:fragment="create_using_function">
    <div class="modal-container modal-container-create-using-function" id="modal_container_create_using_function">
        <div class="modal_main">
            <h1>Modals are cool1</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, eveniet culpa quaerat atque veniam
                est assumenda perferendis neque commodi! Quasi similique animi delectus veniam sequi soluta ab esse,
                provident id.
            </p>
            <button class="btn btn-primary" id="create_using_function_close">Close</button>
        </div>
    </div>
</div>

<div th:fragment="element_wise_operations">
    <div class="modal-container modal-container-element-wise-operations" id="modal_container_element_wise_operations">
        <div class="modal_main">
            <h1>Modals are cool2</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, eveniet culpa quaerat atque veniam
                est assumenda perferendis neque commodi! Quasi similique animi delectus veniam sequi soluta ab esse,
                provident id.
            </p>
            <button class="btn btn-primary" id="element_wise_operations_close">Close</button>
        </div>
    </div>
</div>

<div th:fragment="differentiation">
    <div class="modal-container modal-container-differentiation" id="modal_container_differentiation">
        <div class="modal_main">
            <h1>Modals are cool3</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, eveniet culpa quaerat atque veniam
                est assumenda perferendis neque commodi! Quasi similique animi delectus veniam sequi soluta ab esse,
                provident id.
            </p>
            <button class="btn btn-primary" id="differentiation_close">Close</button>
        </div>
    </div>
</div>

<div th:fragment="integral">
    <div class="modal-container modal-container-create-using-function" id="modal_container_integral">
        <div class="modal_main">
            <h1>Modals are cool4</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, eveniet culpa quaerat atque veniam
                est assumenda perferendis neque commodi! Quasi similique animi delectus veniam sequi soluta ab esse,
                provident id.
            </p>
            <button class="btn btn-primary" id="integral_close">Close</button>
        </div>
    </div>
</div>

<div th:fragment="settings">
    <div class="modal-container modal-container-create-using-function" id="modal_container_settings">
        <div class="modal_main">
            <h1>Modals are cool5</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, eveniet culpa quaerat atque veniam
                est assumenda perferendis neque commodi! Quasi similique animi delectus veniam sequi soluta ab esse,
                provident id.
            </p>
            <button class="btn btn-primary" id="settings_close">Close</button>
        </div>
    </div>
</div>