<div th:fragment="create_using_table">
    <div class="modal-container modal-container-create-using-table" id="modal_container_create_using_table">
        <div class="modal_main">
            <h3>Create tabulated function using table</h3>
            <iframe name="votar" style="display:none;"></iframe>
            <form action="/" target="votar" id="form_for_amount">
                <input id="input_amount" type="number" placeholder="Input amount of elements" class="form-control mb-2">
                <button id="amount_submit" type="submit" class="btn btn-success mb-2">Confirm</button>
            </form>
            <div id="table_create" style="overflow-x: auto;"></div>
            <form action="/" target="votar" id="tabulated_function_table"></form>
            <button class="btn btn-danger mt-5" id="create_using_table_close">Close</button>
        </div>
    </div>
</div>

<div th:fragment="create_using_function">
    <div class="modal-container modal-container-create-using-function" id="modal_container_create_using_function">
        <div class="modal_main">
            <h3>Create tabulated function using function</h3>
            <form action="/" target="votar" id="form_for_create_using_function"></form>
            <button class="btn btn-danger mt-5" id="create_using_function_close">Close</button>
        </div>
    </div>
</div>

<div th:fragment="element_wise_operations">
    <div class="modal-container modal-container-element-wise-operations" id="modal_container_element_wise_operations">
        <div class="modal_main">
            <h1>Modals are cool2</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, eveniet culpa quaerat atque veniam
                est assumenda perferendis neque commodi! Quasi similique animi delectus veniam sequi soluta ab esse,
                provident id.
            </p>
            <button class="btn btn-primary" id="element_wise_operations_close">Close</button>
        </div>
    </div>
</div>

<div th:fragment="differentiation">
    <div class="modal-container modal-container-differentiation" id="modal_container_differentiation">
        <div class="modal_main">
            <h1>Modals are cool3</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, eveniet culpa quaerat atque veniam
                est assumenda perferendis neque commodi! Quasi similique animi delectus veniam sequi soluta ab esse,
                provident id.
            </p>
            <button class="btn btn-primary" id="differentiation_close">Close</button>
        </div>
    </div>
</div>

<div th:fragment="integral">
    <div class="modal-container modal-container-create-using-function" id="modal_container_integral">
        <div class="modal_main">
            <h1>Modals are cool4</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, eveniet culpa quaerat atque veniam
                est assumenda perferendis neque commodi! Quasi similique animi delectus veniam sequi soluta ab esse,
                provident id.
            </p>
            <button class="btn btn-primary" id="integral_close">Close</button>
        </div>
    </div>
</div>

<div th:fragment="settings">
    <div class="modal-container modal-container-create-using-function" id="modal_container_settings">
        <div class="modal_main">
            <h3>Settings</h3>
            <form action="/" target="votar" id="form_for_factory"></form>
            <button class="btn btn-danger mt-5" id="settings_close">Close</button>
        </div>
    </div>
</div>